# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environments
.env
.venv
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Model & data files
*.h5
*.pkl
*.ckpt
*.pt
*.onnx
*.csv
*.json
*.zip
data/
models/
outputs/